.container{
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1{
        color: var(--white);
    }
}

.containerHeader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    gap: 14px;

    button{
        background: transparent;
        border: 0;
    }

}

.iconeFalse{
    margin-right: auto;
}

.iconeTrue{
    margin-right: auto;
    color: var(--green-900);
}


.listTickets{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ticketItem{
    display: flex;
    background: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 18px;
    border-radius: 8px;
    color: var(--white);
    transition: filter 0.5s;

    &:hover{
        filter: brightness(1.25)
    }
}

.tag{
    width: 9px;
    height: 60px;
    background-color: var(--pink);
    border-radius: 6px 0 0 6px;
    margin-right: 16px;
}

